<div class="container">

  <%= form_with model: @trip_plan, url: trip_plan_path, method: :patch do |t| %>

  <div class="form-group mb-4">
     <p>・旅行のタイトル</p>
     <div class="col-12"><%= t.text_field :title_name, class: "col-8" %></div>
   </div>

   <div class="form-group mb-4">
     <p>・日程</p>
     <div class="col-5"><%= t.date_field :first_day %> ～ <%= t.date_field :second_day %></div>
   </div>

   <div class="form-group mb-4">
     <p>・期間</p>
     <div class="col-5"><%= t.number_field :number_day, class: "col-3 hoge", min: 0 %>日間</div>
   </div>

   <div class="form-group mb-4">
     <p>・予算</p>
     <div class="col-12"><%= t.text_field :budget, class:"col-2" %>円</div>
   </div>

   <div class="form-group mb-4">
     <p>・タグ</p>
     <div class="col-12"><%= t.text_field :tag_list_to_s, class:"col-8" %></div>
   </div>

   <div class="row justify-content-center">
     <%= t.submit '次へ', class: "yellow-btn text-dark" %>
   </div>

  <% end %>

</div>