<div class="container">

  <%= form_with model: @trip_plan, url: trip_plans_path, method: :post do |f| %> <%#=form_withのURLとメソッドはmodelに情報が入っているか入っていないかでrailsが勝手に判断してcreateかupdateの判断をしてくれるから記述時なくてもよい%>

   <div class="row justify-content-center">
     <p>旅行のタイトル名</p>
     <div class="col-8"><%= f.text_field :title_name %></div>
   </div>

   <div class="row justify-content-center">
     <p>日程</p>
     <div class="col-7"><%= f.text_field :first_month, class: "col-1" %>月<%= f.text_field :first_day, class: "col-1" %>日 ～ <%= f.text_field :second_month, class: "col-1" %>月<%= f.text_field :second_day, class: "col-1" %>日</div>
   </div>

   <div class="row justify-content-center">
     <p>日数</p>
     <div class="col-7"><%= f.text_field :number_day, class: "col-2" %>日間</div>
   </div>

   <div class="row justify-content-center">
     <p>予算</p>
     <div class="col-7"><%= f.text_field :budget %>円</div>
   </div>

   <div class="row justify-content-center">
     <p>タグ</p>
     <div class="col-7"><%= f.text_field :name_tag, class: "col-4" %></div>

   <div class="row justify-content-end">
     <%= f.submit '次へ', class: "btn btn-success" %>
   </div>

  <% end %>













</div>