<%#キーワード検索%>
<div class="row justify-content-center mt-5">
<%= search_form_for @q, url: research_trip_plans_path do |f| %>
  <p>キーワード検索</p>
  <%= f.search_field :title_name_cont, placeholder: '旅行タイトル名' %><!--検索フォーム"-->
  <%= f.submit "検索" %>
<% end %>
</div>

<%#タグ検索%>
<div class="row justify-content-center mt-5">
  <%= form_with url: research_trip_plans_path, method: :get do |f| %>
    <p>タグ検索</p>
    <%= f.search_field :tag_name, placeholder: 'タグ名', value: params[:tag_name] %><%#検索フォーム%>
    <%= f.submit "検索" %>
    <div id="tag_result"></div>
　<% end %>
</div>

<div class="mt-3">
<% @trip_plans.each do |t| %>
  <div class="row justify-content-center">
   ・<%=link_to t.title_name,  trip_plan_path(t.id) %><%#検索結果を表示させる%>
  </div>
<% end %>
</div>

<!--タグ検索追加機能-->
<script>
  const target = $('#tag_name')
  const tagNames = <%== Tag.all.pluck(:name_tag) %>
  target.on("input", (e) => {
    $('#tag_result').empty()
    if ($('#tag_name').val().length > 0) {
      const result = tagNames.filter(o => o.includes(e.target.value) )
      result.forEach((o, i) => {
        $('#tag_result').append('<div id="tag_index_' + i + '">' + o + '</div>')
        $('#tag_index_' + i).on('click', (e) => {
          target.val(e.target.textContent)
        })
      })
    }
  })

</script>

<%= link_to users_my_page_path do %>
 <i class="fas fa-home fa-2x"></i>
<% end %>

