<div class="container">

 <div class="row">
  <p>アカウント名</p>
  <div class="col-3"><%= link_to @user, user_path(@user) %></div>
 </div>

 <div class="row">
  <p>旅行タイトル</p>
  <div class="col-3"><%= @trip_plan.title_name %>
 </div>

 <!--いいね機能実装!-->
 <% if @trip_plan.favorited_by?(current_user) %>
  <p>
   <%= link_to trip_plan_likes_path(@trip_plan), method: :delete do %>
    ♥ : <%= @trip_plan.likes.count %>
   <% end %>
  </p>
  <% else %>
  <p>
   <%= link_to trip_plan_likes_path(@trip_plan), method: :post do %>
    ♡ : <%= @trip_plan.likes.count %>
   <% end %>
  </p>
 <% end %>

</div>

<div class="row">
   <p>旅の予算</p>
   <div class="col-3"><%= @trip_plan.budget %>円</div>

   <p>合計金額</p>
   <% @total = 0 %>
   <% @trip_plan_details.each do |f| %>
    <% @total += f.price %>
   <% end %>
   <div class="col-3"><%= @total %>円</div>

   <p>差額</p>
   <div class="col-3"><%= @calculation_result = @trip_plan.budget - @total %>円</div>
</div>

<div class="row">
 <p>日程</p>
 <div class="col-3"><%= @trip_plan.first_month %>月<%= @trip_plan.first_day %>日 ～ <%= @trip_plan.second_month %>月<%= @trip_plan.second_day %>日</div>
</div>

<div class="row">
 <p>日数</p>
 <div class="col-3"><%= @trip_plan.number_day %>日間の旅</div>
</div>

<div class="row justify-content-end">
   <%= link_to "編集", edit_trip_plan_path, class: "btn btn-success" %>
   <%= link_to "削除", trip_plan_path(@trip_plan.id), method: :delete, class: "btn btn-danger", "data-confirm" => "本当に消しますか？" %>
</div>

 <table class="table">
   <thead>
     <tr>
       <th>何日目</th>
       <th>時間</th>
       <th>カテゴリー</th>
       <th>場所</th>
       <th></th>
       <th>変更ボタン</th>
       <th>削除</th>
     </tr>
   </thead>
   <% @trip_plan_details.each do |t| %>
   <tbody>
     <tr>
       <td><%= t.what_day %>日目</td>
       <td><%= t.hour %>:<%= t.minute %>~</td>
       <td><%= t.category %></td>
       <td> <%= t.destination %></td>
       <td><%= link_to "レビュー", trip_plan_detail_reviews_path(t), class: "btn btn-success" %></td>
       <td><%= link_to "変更", edit_trip_plan_trip_plan_detail_path(t.trip_plan_id, t.id), class: "btn btn-success" %>
       <td><%= link_to "削除", trip_plan_trip_plan_detail_path(t.trip_plan_id, t.id), method: :delete, class: "btn btn-danger" %></td>
     </tr>
   </tbody>
   <% end %>

  tag:
   <% @trip_plan.tags.each do |tag| %><!--タグを出力!-->
    <%= link_to tag.name_tag, research_trip_plans_path(tag_name: tag.name_tag), class: "badge badge-success mx-1" %>
   <% end %>

 </table>

 <div class="row justify-content-end">
  <%= link_to "追加", new_trip_plan_trip_plan_detail_path(@trip_plan.id), class: "btn btn-info" %>
 </div>

 <!--コメント機能実装コード!-->
 <div>
  <p>コメント件数：<%= @trip_plan.comments.count %></p>
  <% @comments.each do |comment| %>
   <p><%= image_tag comment.user.get_profile_image(100,100) if comment.user.profile_image.attached? %></p>
   <%= comment.user.account_name %>
   <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment_content %>
  <% end %>
 </div>
 <div>
  <%= form_with model: [@trip_plan, @comment] do |f| %>
    <%= f.text_area :comment_content, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "送信する" %>
  <% end %>
 </div>

<!--投稿の公開・非公開機能実装コード!-->
<%= form_with model: @trip_plan, url: trip_plan_path(@trip_plan.id), method: :patch do |f| %>
 <div>
   <%= f.label :status, "公開", value: true %>
   <%= f.radio_button :status, 'true' %>
   <%= f.label :status, "非公開", value: false %>
   <%= f.radio_button :status,'false' %>
   <%= f.submit "更新", class: "btn btn-success" %>
 </div>
<% end %>

</div>