<div class="container">

 <div class="row">
  <p><b>アカウント名：</b></p>
  <div class="col-3"><%= link_to @user.account_name, user_path(@user), class: "text-dark" %></div>
 </div>

 <div class="row">
  <p><b>旅行タイトル：</b></p>
  <div class="col-3"><%= @trip_plan.title_name %>
 </div>

 <!--いいね機能実装!-->
 <% if @trip_plan.favorited_by?(current_user) %>
  <p>
   <%= link_to trip_plan_likes_path(@trip_plan), method: :delete do %>
    ♥ : <%= @trip_plan.likes.count %>
   <% end %>
  </p>
  <% else %>
  <p>
   <%= link_to trip_plan_likes_path(@trip_plan), method: :post do %>
    ♡ : <%= @trip_plan.likes.count %>
   <% end %>
  </p>
 <% end %>

</div>

<div class="row">
   <p><b>旅の予算：</b></p>
   <div class="col-3"><%= @trip_plan.budget %>円</div>

   <p><b>合計金額：</b></p>
   <% @total = 0 %>
   <% @trip_plan_details.each do |f| %>
    <% @total += f.price %>
   <% end %>
   <div class="col-3"><%= @total %>円</div>

   <p><b>残金：</b></p>
   <div class="col-3"><%= @calculation_result = @trip_plan.budget - @total %>円</div>
</div>

<div class="row">
 <p><b>日程：</b></p>
 <div class="col-4"><%= @trip_plan.first_day %> ～ <%= @trip_plan.second_day %></div>
</div>

<div class="row">
 <p><b>日数：</b></p>
 <div class="col-3"><%= @trip_plan.number_day %>日間の旅</div>
</div>

<% if @trip_plan.user == current_user %>
<div class="row justify-content-end">
 <div class=" mr-2">
  <%= link_to "編集", edit_trip_plan_path, class: "blue-btn text-dark" %>
 </div>
  <%= link_to "削除", trip_plan_path(@trip_plan.id), method: :delete, class: "red-btn text-dark", "data-confirm" => "本当に消しますか？" %>
</div>
<% end %>

 <table class="table mt-5">
   <thead>
     <tr>
       <th>何日目</th>
       <th>時間</th>
       <th>カテゴリー</th>
       <th>場所</th>
       <th></th>
       <% if @trip_plan.user == current_user %>
       <th>変更ボタン</th>
       <th>削除</th>
       <% end %>
     </tr>
   </thead>
   <% @trip_plan_details.each do |t| %>
   <tbody>
     <tr>
       <td><%= t.what_day %>日目</td>
       <td><%= t.hour.strftime("%H:%M") %> ~</td>
       <td><%= t.category %></td>
       <td> <%= t.destination %></td>
       <td><%= link_to "レビュー", trip_plan_detail_reviews_path(t), class: "blue-btn text-dark" %></td>
       <% if @trip_plan.user == current_user %>
       <td><%= link_to "変更", edit_trip_plan_trip_plan_detail_path(t.trip_plan_id, t.id), class: "white-btn text-dark" %>
       <td><%= link_to "削除", trip_plan_trip_plan_detail_path(t.trip_plan_id, t.id), method: :delete, class: "red-btn text-dark" %></td>
       <% end %>
     </tr>
   </tbody>
   <% end %>

  <b>tag:</b>
   <% @trip_plan.tags.each do |tag| %><!--タグを出力!-->
    <%= link_to tag.name_tag, research_trip_plans_path(tag_name: tag.name_tag), class: "badge badge-success mx-1" %>
   <% end %>

 </table>

<% if @trip_plan.user == current_user %>
 <div class="row justify-content-end">
  <%= link_to "追加", new_trip_plan_trip_plan_detail_path(@trip_plan.id), class: "yellow-btn text-dark" %>
 </div>
<% end %>

 <!--コメント機能実装コード!-->
 <div>
  <p><b>コメント件数：</b><%= @trip_plan.comments.count %></p>
 <div>
  <% @comments.each do |comment| %>
   <p><%= image_tag comment.user.get_profile_image(100,100) if comment.user.profile_image.attached? %></p>
   <%= comment.user.account_name %>
   <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment_content %>
  <% end %>
 </div>
 <div>
  <%= form_with model: [@trip_plan, @comment] do |f| %>
    <%= f.text_area :comment_content, rows: '5', placeholder: "コメントをここに" %>
    <%= f.submit "投稿", class: "yellow-btn text-dark" %>
  <% end %>
 </div>

<!--投稿の公開・非公開機能実装コード!-->
<% if @trip_plan.user == current_user %>
 <%= form_with model: @trip_plan, url: trip_plan_path(@trip_plan.id), method: :patch do |f| %>
  <div class="row justify-content-end">
    <b><%= f.label :status, "公開", value: true %></b>
    <%= f.radio_button :status, 'true' %>
     <b><%= f.label :status, "非公開", value: false %> </b>
    <%= f.radio_button :status,'false' %>
    <%= f.submit "更新", class: "yellow-btn text-dark" %>
  </div>
 <% end %>
<% end %>

</div>