<div class="container">

  <%= form_with model: @trip_plan_detail, url: trip_plan_trip_plan_detail_path, method: :patch do |t| %>

    <div class="form-group mb-4">
      <b>・時間</b>
      <div class="col-8"><%= t.time_field :hour %></div>
    </div>

    <div class="form-group mb-4">
      <b>・カテゴリー</b>
      <div class="col-7"><%= t.select :category, [["食事","食事"], ["移動","移動"], ["遊び","遊び"], ["ホテル","ホテル"]] %></div>
    </div>

    <div class="form-group mb-4">
      <b>・日数</b>
      <div class="col-7"><%= t.number_field :what_day, class: "col-3 hoge", min: 0 %>日目</div>
    </div>

    <div class="form-group mb-4">
      <b>・目的地</b>
      <div class="col-12"><%= t.text_field :destination, class: "col-7" %></div>
    </div>

    <div class="form-group mb-4">
      <b>・予算</b>
      <div class="col-12"><%= t.text_field :price, class: "col-2" %>円</div>
    </div>

    <div class="row justify-content-center"><%= t.submit '登録', class: "yellow-btn text-dark" %></div>

  <% end %>


</div>