<div class="container">

 <h2><b>Reviwe</b></h2>

 <div class="mb-4">
  <% if @review.errors.any? %>
   <div class="text-red"><%= @review.errors.count %>件の未入力項目があります</div>
  <% end %>
 </div>

 <% if @trip_plan_detail.trip_plan.user_id == current_user.id %><!--子モデルから親モデルに戻りidを取得している!-->
  <%= form_with model: Review.new, url: trip_plan_detail_reviews_path, method: :post do |f| %>

   <div class="mt-5">
    <b>・写真を選択してください</b>
    <%= f.file_field :image, accept: "image/*" %><!--画像のみ投稿可!-->
   </div>

   <div class="mt-3">
    <b>・レビュー記入</b>
   </div>
   <div class="row mb-5">
    <%= f.text_area :review %>
    <div class="ml-3">
     <%= f.submit "投稿", class: "yellow-btn text-dark" %>
    </div>
   </div>
  <% end %>
 <% end %>

<div>
 <b>・投稿写真</b>
 <div>
  <% if @review.nil? %>
  <%= image_pack_tag 'no_image.jpg' %>
  <% else %>
  <%= image_tag @review.get_image(300,300) %>
  <% end %>
 </div>
</div>

<div class="mt-3">
 <b>・レビュー内容</b>
 <div>
  <%= @review.try(:review) %>
 </div>
</div>

<div class="row justify-content-around">
 <% if @trip_plan_detail.trip_plan.user_id == current_user.id %>
  <%= link_to "変更", edit_trip_plan_detail_reviews_path, class: "white-btn text-dark ml-1" %>
 <% end %>
 <%= link_to "戻る", trip_plan_path(@trip_plan_detail.trip_plan_id), class: "white-btn text-dark ml-1" %>
</div>


</div>