<div class="container">
  <h3><b>レビュー</b><h3>

  <%= form_with model: Review.new, url: trip_plan_detail_reviews_path, method: :post do |f| %>
   <p>・写真</p>
   <div class="row mb-5">
    <%= f.file_field :image, accept: "image/*" %><!--画像のみ投稿可!-->
   </div>

   <p>・レビュー記入枠</p>
   <div class="row mb-5">
    <%= f.text_area :review %>
    <div class="ml-3">
     <%= f.submit "投稿", class: "btn btn-primary" %>
    </div>
   </div>

  <% end %>

   <p>・投稿写真</p>
    <% if @review.nil? %>
    <%= image_tag 'no_image.jpg' %>
    <% else %>
    <%= image_tag @review.get_image(300,300) %>
    <% end %>

   <p>・レビュー内容</p>
   <%= @review.try(:review) %>

   <div class="row row justify-content-start">
    <%= link_to "変更", edit_trip_plan_detail_reviews_path, class: "btn btn-success ml-1" %>
   </div>

</div>