<div class="form">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

    <div class="text-input">
      <label for="username"><h5><b>・User Name</b></h5></label>
      <%= f.text_field :account_name, autofocus: true, autocomplete: "account_name", class: "col-12", placeholder: "User Name" %>
      <span class="separator"> </span>
    </div>

    <div class="text-input">
      <label for="email"><h5><b>・E-mail</b></h5></label>
      <%= f.text_field :email, autofocus: true, autocomplete: "email", class: "col-12", placeholder: "E-mail" %>
      <span class="separator"> </span>
    </div>

    <div class="text-input">
      <label for="psssword"><h5><b>・Password(6文字以上)</b></h5></label>
      <%# if @minimum_password_length %>
      <em><%#= @minimum_password_length %></em>
      <%# end %>
      <%= f.password_field :password, autocomplete: "new-password", class: "col-12", placeholder: "password" %>
      <span class="separator"> </span>
    </div>

    <div class="text-input">
      <label for="psssword"><h5><b>・Password(確認用)</b></h5></label>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-12", placeholder: "password" %>
      <span class="separator"> </span>
    </div>

    <div class="form-bottom">
      <%= f.submit "sign up" %>
    </div>
<% end %>

  <div class="row mt-5 justify-content-center mb-5">
   <h6>ログインの方は</h6><h6><%= link_to 'こちら', new_user_session_path %></h6><h6>から</h6>
  </div>

</div>
