<div class="container">
  <p>マイページ</p>

  <%= @user.account_name %>

  <div><p>旅行計画投稿一覧</p></div>
  <% @trip_plans.each do |t| %>
   <div class="row">
     <%= link_to t.title_name, trip_plan_path(t.id) %>
   </div>
  <% end %>


  <div class="row justify-content-center">
   <%= link_to users_path do %>
    <i class="fas fa-history fa-2x"></i>
   <% end %>
   <%= link_to research_trip_plans_path do %>
    <i class="fab fa-sistrix fa-2x"></i>
   <% end %>
   <%= link_to new_trip_plan_path do %>
    <i class="fas fa-plus fa-2x"></i>
   <% end %>
   <%= link_to users_my_page_path do %>
    <i class="fas fa-home fa-2x"></i>
   <% end %>
  </div>

  <div class="row justify-content-center">
   <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
  </div>
  <div class="row justify-content-center">
   <%= link_to "いいね一覧", likes_user_path(@user), class: "btn btn-success" %>
  </div>
</div>