<div class="container">
  <div class="font-title mt-5 mb-5">
   <h1><b>My page</b></h1>
  </div>

  <div class="row">
   <div class="col-2 mt-4"><h4>アカウント名</h4></div>
   <div class="col-7 mt-4"><h4><%= @user.account_name %></h4></div>
   <div class="col-3 mt-4"><%= link_to "アカウント名変更", users_information_edit_path, class: "btn-vertical-border" %></div>
  </div>

  <!--フォロー・フォロワー機能!-->
  <div class="row mt-3">
   <p><% "id: #{@user.id}" %></p>
   <div class="col-3"><h4><%= link_to "フォロー数: #{@following_users.count}", follows_user_path(@user.id), class: "text-dark" %></h4></div>
   <div class="col-3"><h4><%=link_to "フォロワー数: #{@follower_users.count}", followers_user_path(@user.id), class: "text-dark" %></h4></div>
  </div>

  <div class="mt-5"><h5>旅行計画投稿一覧</h5></div>
  <% @trip_plans.each do |t| %>
   <div class="row mt-4">
    ・<%= link_to t.title_name, trip_plan_path(t.id), class: "text-dark" %>
   </div>
  <% end %>

  <div class="row justify-content-center mt-5">
   <%= paginate @trip_plans %>
  </div>

</div>

