<div class="container">
  <div class="row">
   <div class="col-2"><p>アカウント名</p></div>
   <div class="col-2"><%= @user.account_name %></div>
  </div>

  <!--フォロー・フォロワー機能!-->
  <div class="row mt-2">
   <p><% "id: #{@user.id}" %></p>
   <div class="col-2"><p><%= link_to "フォロー数: #{@user.follower.count}", follows_user_path(@user.id) %></p></div>
   <div class="col-2"><p><%= link_to "フォロワー数: #{@user.followed.count}", followers_user_path(@user.id) %></p></div>
   <% if current_user.following?(@user) %>
     <%= link_to "Delete", user_relationships_path(@user.id), method: :delete, class: "btn-social-long-insta" %>
   <% else %>
     <%= link_to "Follow Me", user_relationships_path(@user.id), method: :post, class: "btn-social-long-insta" %>
   <% end %>
  </div>

  <div class="mt-4"><p>旅行計画投稿一覧</p></div>
  <% @trip_plans.each do |t| %>
   <div class="row mt-3">・<%=link_to t.title_name, trip_plan_path(t.id) %></div>
  <% end %>
</div>