<div class="container">
  <p>マイページ</p>

  <div class="row">
   <%= link_to users_path do %>
    <i class="fas fa-pencil-alt"></i>
   <% end %>
   <%= link_to research_trip_plans_path do %>
    <i class="fab fa-sistrix"></i>
   <% end %>
   <%= link_to new_trip_plan_path do %>
    <i class="fas fa-plus"></i>
   <% end %>
   <%= link_to trip_plans_path do %>
    <i class="fas fa-home"></i>
   <% end %>
  </div>

  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
</div>